# Converting Data Source Files to Database

In [62]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from pathlib import Path

# SQLITE3

Exploring sqlite3 as the database option

In [69]:
# db_path = Path('./data/reservation_dataset.db')
# conn = sqlite3.connect(db_path)

# # Define the directory containing Parquet files
# parquet_dir = Path('./data/')

# table_name = 'reservations'

# # Loop through all Parquet files in the directory
# for parquet_file in enumerate(parquet_dir.glob('*.parquet')):
    
#     # Read the Parquet file into a DataFrame
#     df = pd.read_parquet(parquet_file[1])
#     df['Hotel_ID'] = parquet_file[0]

#     df.to_sql(table_name, if_exists='append', index=False)

# rows = cursor.fetchall()
# for row in rows:
#     print(row)

# # Verify data
# table_name = 'h1'
# cursor = conn.cursor()
# cursor.execute(f"SELECT * FROM {table_name} LIMIT 5;")

# # Close the connection
# conn.close()

# SQLALCHEMY

Recommended approach.

In [70]:
data_folderpath = './data/reservation_dataset.db'
engine = create_engine(f'sqlite:///{data_folderpath}')

# Write data from a DataFrame to SQLite using SQLAlchemy (the table is created if it doesn't exist)
# df.to_sql('my_table', engine, if_exists='replace', index=False)

# Read data from SQLite into a DataFrame using SQLAlchemy
# df = pd.read_sql_table('my_table', engine)

In [67]:
# Define the directory containing Parquet files
parquet_dir = Path('./data/')

# Loop through all Parquet files in the directory
for parquet_file in enumerate(parquet_dir.glob('*.parquet')):
    
    # Read the Parquet file into a DataFrame
    df = pd.read_parquet(parquet_file[1])
    df['Hotel_ID'] = parquet_file[0]
    
    table_name = 'reservations'
    
    df.to_sql(table_name, engine, if_exists='append', index=False)

In [72]:
pd.read_sql_table('reservations', engine, dtype_backend="pyarrow")

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,Hotel_ID
0,0,342,2015,July,27,1,0,0,2,0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
1,0,737,2015,July,27,1,0,0,2,0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
2,0,7,2015,July,27,1,0,1,1,0,...,NULL,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,0
3,0,13,2015,July,27,1,0,1,1,0,...,304,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,0
4,0,14,2015,July,27,1,0,2,2,0,...,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,August,35,30,2,5,2,0,...,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06,1
119386,0,102,2017,August,35,31,2,5,3,0,...,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07,1
119387,0,34,2017,August,35,31,2,5,2,0,...,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07,1
119388,0,109,2017,August,35,31,2,5,2,0,...,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07,1
119389,0,205,2017,August,35,29,2,7,2,0,...,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07,1